<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Test Suite" parallel="false" verbose="1">

    <parameter name="browser" value="chrome"/>

    <!-- Test de Home Page -->
    <test name="Home Page Tests">
        <classes>
            <class name="com.epam.automation.tests.HomePageTest"/>
        </classes>
    </test>
</suite>